body {
    background-color: gray;
    color: white;
    text-align: center;
}

h1 {
    color: black;
}

table {
    border: 5px solid black;
    border-top: 10px;
    border-collapse: collapse;
    margin: auto;
}

.board-container {
    width: 100%;
    padding: 10px;
    margin: auto;



}

button {
    margin: 15px;
}

.cell {
    background-color: rgb(12, 12, 235);
    /* Default background color */
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 5px, solid, black;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
}

.cell.clicked {
    background-color: rgb(97, 97, 235);
    /* Color when clicked */
    transform: scale(1.1);
    /* Slightly increase the size of the cell */
}

.cell.clicked:active {
    transform: scale(1);
    /* Reset scale when the cell is active (clicked) */
}

.restart-button {
    background-color: blue;
    margin: 10px;
}

.control-panel {
    margin: auto;
    border: 5px, solid, black;
    border-bottom: 0px;

}

.responsive-div {
    display: inline-block;
    background-color: blue;
    margin: auto;


}

.hide {
    display: none;
}