body {
    background-color: gray;
    color: white;
    text-align: center;
}

h1 {
    color: black;
}

table {
    border: 5px solid black;
    border-top: 10px;
    border-collapse: collapse;
    margin: auto;
}

.board-container {
    width: 100%;
    padding: 10px;
    margin: auto;



}

button {
    margin: 15px;
}

.cell {
    background-color: rgb(12, 12, 235);
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 5px, solid, black;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
}

.cell.clicked {
    background-color: rgb(97, 97, 235);

    transform: scale(1.1);

}

.cell.clicked:active {
    transform: scale(1);

}

.level {
    padding: 10px;
    background-color: rgb(12, 12, 235);
    color: white;
}

.restart-button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: blue;
    margin: 10px;
}

.control-panel {
    margin: auto;
    border: 5px, solid, black;
    border-bottom: 0px;

}

.responsive-div {
    display: inline-block;
    background-color: blue;
    margin: auto;


}

.live {
    padding-top: 15px;
    margin: auto;
    border: 5px, solid, black;
    border-top: 0px;
}

.hide {
    display: none;
}